

body {
    height: 1000;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background: #1f1e1e;
}

.links:link {
    color: inherit;
    text-decoration: none;
    cursor: default;
}

.links:hover {
    color: inherit;
    text-decoration: underline;
    cursor: default;
}

.links:visited {
    color: inherit;
    cursor: default;
    text-decoration: none;
}   

header {
    padding: 1px;
    color: #fff;
    font-family: MADEOuterSans-Thin;
    line-height: 1.3;
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
}

.header-right {
    float: right;
    padding: 6px;
    text-align: right;
    font-family: MADEOuterSans-Thin;
    font-size: 13px;
}

img {
    border-radius: 2%;
}

.logo {
    padding: 5px;
    margin-left: 5%;
    border: 5px solid transparent;
    border-radius: 100%;

}

.namelogo {
    margin-right: auto;
    margin-left: auto;
}

.namelogo-right {
    color: #fff;
    float: left;
    margin-right: 50px;
    margin-top: 80px;
}

footer {
    cursor: default;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 2%;
}

.Contact {
    cursor: default;
    transition: font-size 0.8s ease;
    margin-top: 30%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    /* erm what the sigma */
}

.expand {
    font-size: 17;
}

.gura {
    position: fixed;
    top: 800;
}

/* UnComment these on Addition of these buttons lmao.
.apps:hover {
    border-bottom: 1px solid #fff; text-decoration: none;
}

.sites:hover {
    border-bottom: 1px solid #fff; text-decoration: none;
}
*/ 